html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

:root {

  --font-size-h1: 3em;
  --font-size-h2: 1.8em;
  --font-size-h3: 1.4em;
  --font-size-h4: 1.1em;
  --font-size-default: 3.5em;
  --font-size-small: .4em;
  --font-size-smaller: .7em;

  --font-size-default-print: 2.5em;

  --slide-margin: 2rem;

  --font-family-body: 'Montserrat', sans-serif;
  --font-family-heading: 'Roboto Slab', serif;
  --font-family-code: 'Roboto Mono', monospace;

  --list-margin: .5em;

  --color-navy: #001F3F;
  --color-blue: #0074D9;
  --color-aqua: #7FDBFF;
  --color-teal: #39CCCC;
  --color-olive: #3D9970;
  --color-green: #2ECC40;
  --color-lime: #01FF70;
  --color-yellow: #FFDC00;
  --color-orange: #FF851B;
  --color-red: #FF4136;
  --color-fuchsia: #F012BE;
  --color-purple: #B10DC9;
  --color-maroon: #85144B;
  --color-white: #FFFFFF;
  --color-gray-7: #FCFCFC;
  --color-gray-6: #F0F0F0;
  --color-gray-5: #DDDDDD;
  --color-gray-4: #AAAAAA;
  --color-gray-3: #888;
  --color-gray-2: #666;
  --color-gray-1: #333;
  --color-black: #111;

  --color-default: var(--color-gray-1);
  --color-bg: var(--color-white);

  --color-highlight: var(--color-gray-7);
  --color-highlight-bg: var(--color-fuchsia);

  --color-slide-number: var(--color-gray-3);

  --color-code-bg: #cfcaca59;
  --color-code: var(--color-gray-7);

  --color-link: var(--color-blue);

  --color-table-head: var(--color-gray-7);
  --color-table-head-bg: var(--color-orange);
  --color-table: var(--color-default);
  --color-table-bg: var(--color-gray-6);
  --color-table-border: var(--color-gray-5);
}

.slide[data-theme='funky'] {

  --color-default: var(--color-gray-7);
  --color-bg: var(--color-fuchsia);

  --color-slide-number: var(--color-gray-5);

  --color-code: var(--color-gray-7);
  --color-code-bg: #cfcaca59;

  --color-highlight: var(--color-gray-7);
  --color-highlight-bg: var(--color-orange);

  --color-link: var(--color-gray-7);

  --color-table-head: var(--color-gray-1);
  --color-table-head-bg: var(--color-yellow);
  --color-table-bg: var(--color-gray-7);
  --color-table-border: var(--color-gray-4);
}

.slide[data-theme='eco'] {

  --color-default: var(--color-gray-7);
  --color-bg: var(--color-olive);

  --color-slide-number: var(--color-gray-5);

  --color-code: var(--color-gray-7);
  --color-code-bg: #cfcaca59;

  --color-highlight: var(--color-gray-6);
  --color-highlight-bg: var(--color-red);

  --color-link: var(--color-gray-7);

  --color-table-head: var(--color-gray-7);
  --color-table-head-bg: var(--color-orange);
  --color-table-bg: var(--color-gray-7);
  --color-table-border: var(--color-gray-4);
}

code:not([class*="language-"]) {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  border-radius: .1em;

  background-color: var(--color-code-bg);
  font-family: var(--font-family-code);
}

h1, h2, h3, h4 {
  font-family: var(--font-family-heading);

  margin: 1rem;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

li + li {
  margin-top: var(--list-margin);
}

a {
  color: var(--color-link);
}

small {
  font-size: var(--font-size-smaller);
}

em {
  background: var(--color-highlight-bg);
  font-style: normal;
  color: var(--color-highlight);
}

table, pre {
  width: fit-content;
  min-width: 50%;
}

.slide-container {
  font-family: var(--font-family-body);
  font-size: var(--font-size-default);
}

.slide > *,
.slide > pre[class*="language-"] {
  margin: 0 var(--slide-margin);
}

.slide > ul,
.slide > ol {
  margin: 0 calc(var(--slide-margin) * 2);
}

.slide > * + *,
.slide > * + pre[class*="language-"],
.slide > * + ul,
.slide > * + ol {
  margin-top: calc(var(--slide-margin) * 1.5);
}

.slide-container {
  width: 100vw;
  height: 100vh;
}

.slide {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: var(--color-bg);
  color: var(--color-default);
}

.slide[data-align='center'] {
  align-items: center;
  text-align: center;
}

.slide[data-align='left'] {
  align-items: flex-start;
}

.slide[data-align='right'] {
  align-items: flex-end;
}

table {
  border-radius: 1rem;
  overflow: hidden;
  border-collapse: collapse;

  color: var(--color-table);
  background: var(--color-table-bg);

  font-size: .7em;
}

thead {
  color: var(--color-table-head);
  background: var(--color-table-head-bg);
}

tbody tr + tr {
  border-top: solid 1px var(--color-table-border);
}

table td,
table th {
  padding: .7em .8em;
}

table th:first-child,
table td:first-child {
  padding-left: 1.5em;
}

table th:last-child,
table td:last-child {
  padding-right: 1.5em;
}

.slide-number {
  position: absolute;
  bottom: calc(var(--slide-margin) / 2);
  right: calc(var(--slide-margin) / 2);
  color: var(--color-slide-number);
  font-size: var(--font-size-small);
  margin: 0;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

img {
  object-fit: contain;
}

.slide > img:not(.emoji) {
  max-width: calc(100% - var(--slide-margin));
  max-height: calc(100% - var(--slide-margin));
}

.slide p > img:not(.emoji) {
  max-width: 100%;
  max-height: 100%;
}

.slide > pre[class*="language-"] {
  font-size: .5em;
}

.slide-navigation {
  position: fixed;
  top: 20px;
  right: 20px;
}

.slide-navigation:not(.shown) {
  display: none;
}

.slide-navigation a {
  text-decoration: none;
  display: inline-block;
  margin: .05em;
  padding: .2em;

  background: var(--color-gray-5);
  color: var(--color-gray-1);
  opacity: .4;
  border-radius: .1em;
}

.slide-navigation a svg {
  display: block;
}

.slide-navigation a:hover {
  opacity: 1;
}

@media print {

  .slide-navigation {
    display: none;
  }

  .slide-container {
    font-size: var(--font-size-default-print);
  }

  .slide {
    page-break-after: always;
  }
}

@media screen {
  .slide-container {
    overflow: hidden;
  }

  .slide {
    position: absolute;
    transform: translate(-100%, -100%);
  }

  .slide.current {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}