html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

:root {

  --font-size-h1: 3em;
  --font-size-h2: 1.8em;
  --font-size-h3: 1.4em;
  --font-size-h4: 1.1em;
  --font-size-default: 3.5em;
  --font-size-small: .4em;

  --font-size-default-print: 2.5em;

  --slide-margin: 2rem;

  --font-family-body: 'Montserrat', sans-serif;
  --font-family-heading: 'Roboto Slab', serif;
  --font-family-code: 'Roboto Mono', monospace;

  --list-margin: .5em;

  --color-bright: white;

  --color-light-gray: #F0F0F0;
  --color-darker-gray: #CCC;
  --color-code-bg: #1b1f230d;
  --color-muted: #888;

  --color-default: #333;
  --color-highlight: fuchsia;

  --color-highlight-inverse: lightgoldenrodyellow;

  --color-link: steelblue;
  --color-table-head: lightsteelblue;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  border-radius: .1em;

  background-color: var(--color-code-bg);
  font-family: var(--font-family-code);
}

h1, h2, h3, h4 {
  font-family: var(--font-family-heading);

  margin: 1rem;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

li + li {
  margin-top: var(--list-margin);
}

a {
  color: var(--color-link);
}

em {
  background: var(--color-highlight);
  font-style: normal;
  color: white;
}

table, pre {
  width: fit-content;
  min-width: 50%;
}

.slide-container {
  font-family: var(--font-family-body);
  font-size: var(--font-size-default);
  color: var(--color-default);
}

.slide > *,
.slide > pre[class*="language-"] {
  margin: 0 var(--slide-margin);
}

.slide > ul {
  margin: 0 calc(var(--slide-margin) * 2);
}

.slide > * + *,
.slide > * + pre[class*="language-"],
.slide > * + ul {
  margin-top: calc(var(--slide-margin) * 1.5);
}

.slide-container {
  width: 100vw;
  height: 100vh;
}

.slide {
  position: relative;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.slide[data-align='center'] {
  align-items: center;
}

.slide[data-align='left'] {
  align-items: flex-start;
}

.slide[data-align='right'] {
  align-items: flex-end;
}

.slide[data-theme='funky'] {
  background: var(--color-highlight);
  color: var(--color-bright);
}

.slide[data-theme='funky'] code {
  background: #1b1f232f;
  color: white;
}

.slide[data-theme='funky'] em {
  color: var(--color-default);
  background: var(--color-highlight-inverse);
}

table {
  border-radius: 1rem;
  overflow: hidden;
  border-collapse: collapse;

  background: var(--color-light-gray);

  font-size: .7em;
}

thead {
  color: var(--color-bright);
  background: var(--color-muted);
}

tbody tr + tr {
  border-top: solid 1px var(--color-darker-gray);
}

table td,
table th {
  padding: .7em .8em;
}

table th:first-child,
table td:first-child {
  padding-left: 1.5em;
}

table th:last-child,
table td:last-child {
  padding-right: 1.5em;
}

.slide-number {
  position: absolute;
  bottom: calc(var(--slide-margin) / 2);
  right: calc(var(--slide-margin) / 2);
  color: var(--color-muted);
  font-size: var(--font-size-small);
  margin: 0;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

img {
  object-fit: contain;
}

.slide > img:not(.emoji) {
  max-width: calc(100% - var(--slide-margin));
  max-height: calc(100% - var(--slide-margin));
}

.slide p > img:not(.emoji) {
  max-width: 100%;
  max-height: 100%;
}

.slide > pre[class*="language-"] {
  font-size: .5em;
}

@media print {
  .slide-container {
    font-size: var(--font-size-default-print);
  }

  .slide {
    page-break-after: always;
  }
}

@media screen {
  .slide-container {
    overflow: hidden;
  }

  .slide {
    position: absolute;
    transform: translate(-100%, -100%);
  }

  .slide.current {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}